@model Q10Solution.Application.DTOs.StudentDto
@{
    ViewData["Title"] = "Editar Estudiante";
    var allSubjects = ViewBag.Subjects as List<Q10Solution.Application.DTOs.SubjectDto>;
}

<h2>Editar Estudiante: @Model.Name</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Document" class="form-label">Documento</label>
        <input asp-for="Document" class="form-control" />
        <span asp-validation-for="Document" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">Corrreo</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
   </div>

    <button type="submit" class="btn btn-success">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
